{%extends "nav_bar.html"%}

{%block content%}
<!-- Filter form -->
<div class="container" style="padding-top: 10px;">
	<form action="", method="post", class="border-bottom" style="padding-bottom: 10px;" id="search_field">


		<!-- Search Term -->
		<div class="form-group">
			<label for="search-term">Search</label>
			<input name="search" type="text" class="form-control" id="search-term" placeholder="Search database" value="{{current_search}}">
		</div>

		<!-- Tolerance Value -->

		<!-- Category -->
		<div class="form-group"
		<label for="category">Category</label>
			<select name="category" class="form-control" id="category">
				{% for i in categories %}
					{% if i == current_category %}
						<option selected>{{i}}</option>
					{% else %}
						<option>{{i}}</option>
					{% endif %}
				{% endfor %}
			</select>
		</div>

		<!-- Submit Button -->
		<button class="btn btn-primary" type="submit">Search</button>

	</form>


	<!-- Data Price Stats -->
	<p class="font-weight-bold" style="font-size: 20px; margin-top: 20px;">Statistics</p>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Max Price:</th>
				<th scope="col">Min Price:</th>
				<th scope="col">Average Price:</th>
				<th scope="col">Median Price:</th>
			</tr>
		</thead>
		<tbody>
			{% if price_stats != None %}
			<tr>
				<td><p class="text-success">{{price_stats["max_price"]}}</p></td>
				<td><p class="text-danger">{{price_stats["min_price"]}}</p></td>
				<td><p class="text-warning">{{price_stats["ave_price"]}}</p></td>
				<td><p class="text-info">{{price_stats["med_price"]}}</p></td>
			</tr>
			{% else %}
			<tr>
				<td><p>-</p></td>
				<td><p>-</p></td>
				<td><p>-</p></td>
			</tr>
			{% endif %}
		</tbody>
	</table>

	<!-- Graph -->
	<p class="font-weight-bold" style="font-size: 20px; margin-top: 20px;">Graph</p>
	<div class="container">
		<div class="row">
			<div class="col w-75">{% include "graph.html" %}</div>
		</div>
	</div>



	<!-- Returned Data -->
	<p class="font-weight-bold" style="font-size: 20px; margin-top:20px;">Data</p>
	<table class="table" id="returned-data">
		<thead>
			<tr>
				<th scope="col" onclick="sortTable(0)">Name</th>
				<th scope="col" onclick="sortTable(1)">Price</th>
				<th scope="col" onclick="sortTable(2)">Date</th>
				<th scope="col"></th>
			</tr>
		</thead>
		{% if data != None %}
		<tbody>
			{% for d in data %}
			<tr>
				<td class="w-75"><a href="{{d['link']}}" target="_blank">{{d["name"]}}</a></td>
				<td>{{d["price"]}}</td>
				<td>{{d["date"]}}</td>
				<!-- Delete button -->
				<!-- <td><form method="POST"><button class="btn btn-danger" type="submit" formaction="{{ url_for('del_data') }}" value="{{data['data_id']}}" name="delete">X</button></form></td> -->
			</tr>
			{% endfor %}
		{% else %}
			<tr>
				<td><p>-</p></td>
				<td><p>-</p></td>
				<td><p>-</p></td>
			</tr>
		</tbody>
		{% endif %}
	</table>

</div>

<script src="{{ url_for("static", filename="js/sort.js") }}"></script>

{%endblock%}
