{%extends "nav_bar.html"%}

{%block content%}

<!-- Flash messages -->
{% include "flash.html" %}

<!-- Tab Nav -->
<ul class="nav nav-tabs" id="myTab" role="tablist" style="padding-top: 5px; padding-left: 20px;">
	<li class="nav-item">
		<a class="nav-link active" data-toggle="tab" href="#add" role="tab" aria-controls="add">Add</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#manage" role="tab" aria-controls="manage">Manage</a>
	</li>
</ul>

<!-- Tab Forms -->
<div class="tab-content">
	<!-- Add tracker tab -->
	<div class="tab-pane active" id="add" role="tabpanel">
		<div class="container">
			<form action="" method="post" class="border-bottom" style="padding-bottom: 10px; padding-top: 10px;">

				<!-- Tracker Name -->
				<div class="form-group">
					<label for="tracker-name">Name</label>
					<input type="text" class="form-control" id="tracker-name" placeholder="Name of tracker" name="name" value="{{current_name}}" required>
				</div>

				<!-- Category -->
				<div class="form-group">
						<label for="category">Category</label>
							<select name="category" class="form-control" id="category" required>
								{% for i in categories %}
									{% if i == current_category %}
										<option selected>{{i}}</option>
									{% else %}
										<option>{{i}}</option>
									{% endif %}
								{% endfor %}
							</select>
				</div>

				<!-- Search Term -->
				<div class="form-group">
					<label for="search">Search</label>
					<input name="search" type="text" class="form-control" id="search" placeholder="Track a specific query" value="{{current_search}}" required>
				</div>

				<div class="form-row">
					<!-- Alert Price -->
					<div class="col-md-6">
						<label for="alert-price">Alert Price</label>
						<input name="alert-price" type="Number" class="form-control" id="alert-price" value="{{alert_price}}">
						<small class="form-text text-muted">Set a threshold price for price alerts</small>

					<!-- Alert Percentage -->
					<div class="col-md-6">
						<label for="alert_percentage">Alert Percentage</label>
						<input name="alert_percentage" type="Number" class="form-control" id="alert_percentage" value="{{alert_percentage}}">
						<small class="form-text text-muted">Set a threshold percentage (of average price) for price alerts</small>
					</div>
				</div>

				<!-- Submit -->
				<button class="btn btn-primary" type="submit" formaction='{{ url_for("database") }}'>Preview</button>
				<button class="btn btn-primary" type="submit" formaction='{{ url_for("add") }}'>Add Tracker</button>
			</form>
		</div>

		<!-- Preview window -->
		<div class="container">
		{% include "preview_content.html" %}
		</div>
	</div>


	<!-- Manage tab -->
	<div class="tab-pane" id="manage" role="tabpanel">
		<div class="container" style="padding-top: 10px;">

			<!-- Message if no trackers -->
			{% if not trackers %}
				<div class="container" style="padding-top: 10px; padding-left: 10px; padding-right: 10px;">
					<div class="jumbotron">
						<h1 class="display-4">You have no trackers</h1>
						<p class="lead">
							Add a tracker under the "add" tab to receive price alerts
						</p>
					</div>
				</div>
			{% endif %}

			<!-- Generate trackers -->
			{% for tracker in trackers %}
			<form action="", method="post" class="border border-dark rounded" style="padding: 20px 20px 10px 20px; margin-bottom: 10px;">
				<div class="form-row">
					<!-- Name -->
					<div class="form-group col-md-6" style="padding-right: 50px;">
						<label for="tracker-name" class="font-weight-bold">Name</label>
						<input type="text" class="form-control" id="tracker-name" value="{{tracker['name']}}" name="name">
					</div>
					<!-- Category -->
					<div class="form-group col-md-3">
						<label for="category" class="font-weight-bold">Category</label>
						<input type="text" id="category" value="{{tracker['category']}}" name="category" readonly class="form-control-plaintext">
					</div>

				<div class="form-row">
					<!-- Search -->
					<div class="form-group col-md-6">
						<label for="search" class="font-weight-bold">Search Term</label>
						<input name="search" type="text" placeholder="-" id="search" value="{{tracker['search']}}" readonly class="form-control-plaintext">
					</div>
					<!-- Alert Price -->
					<div class="form-group col-md-2">
						<label for="alert_price" class="font-weight-bold">Alert Price</label>
						<input name="alert_price" type="text" id="alert_percentage" value="{{tracker['alert_price']}}" readonly class="form-control-plaintext">
					</div>
					<!-- Alert Percentage -->
					<div class="form-group col-md-2">
						<label for="alert_percentage" class="font-weight-bold">Alert Percentage</label>
						<input name="alert_percentage" type="text" id="alert_percentage" value="{{tracker['alert_percentage']}}" readonly class="form-control-plaintext">
					</div>
				</div>
				<div class="form-row">
					<!-- Submit Buttons -->
					<div class="form-group ml-auto mt-auto">
						<button class="btn btn-primary" type="submit" formaction="{{ url_for('database') }}">Get Info</button>
						<button class="btn btn-danger" type="submit" formaction="{{ url_for('rename_tracker') }}" value="{{tracker['name']}}" name="rename">Rename</button>
						<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#{{tracker['name']}}">Delete</button>
						<!-- Tracker delete modal -->
						<div class="modal fade" id="{{tracker['name']}}" tabindex="-1" role="dialog" aria-labelledby="delete_modal" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="delete_modal_label">Confirm Delete</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						        <p>Are you sure you want to delete this data? Data will not be recoverable.</p>
						        <button class="btn btn-danger" type="submit" formaction="{{ url_for('del_tracker') }}" value="{{tracker['name']}}" name="delete">Delete</button>
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						      </div>
						    </div>
						  </div>
						</div>
					</div>
				</div>
			</form>
			{% endfor %}
		</div>
	</div>
</div>



<!-- My JS -->

<!-- <script src="{{ url_for("static", filename="js/trackers.js") }}"></script> -->
{%endblock%}
